.content {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  width: 1200px;
}

.main-background-color {
  background: #D7D7D7;
}

.white-background-color {
  background: white!important;
}

.secondary-background-color {
  background: #F5F5F5;
}

.height-100 {
  height: 100%;
}

img {
  pointer-events: none;
}

.width-100 {
  width: 100%;
}

.dashed-link {
  border-bottom: 1px dashed #7284E4;
}
