.content {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  width: 1200px;
}

.main-background-color {
  background: #D7D7D7;
}

.white-background-color {
  background: white!important;
}

.secondary-background-color {
  background: #F5F5F5;
}